<!DOCTYPE html>
<html lang en="en" ng-app>
<head>
<meta charset="utf-8">
<title>Learning Angular.js</title>
<link  href="styles.css" rel="stylesheet">
</head>

<body>
<h1>Here is an example of Data Binding</h1>
<p>Here the input area is bound to the name display</p>
<div class="wrapper">
<input type="text" ng-model="user_name" />
<p>Your name: {{ user_name }}</p>
</div>
<h2>Want to do math? We can do that too.</h2>
<div class="wrapper">
<input type="number" ng-model="num1" />
<input type="number" ng-model="num2" />
</div>
<p>The sum of the first number <div class="number"> {{num1}}</div> and the second number <div class="number">{{num2}}</div> is <div class="number">{{num1 + num2}}</div>
.<p>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</body>
</html>
